<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>特种铸造虚拟仿真实验</title>
    <meta itemprop="name" content="特种铸造虚拟仿真实验">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>

    <script type="text/javascript" th:src="@{static/js/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{static/js/bootbox.js}"></script>
    <script type="text/javascript" th:src="@{static/js/jquery.cookie.js}"></script>
    <script type="text/javascript" th:src="@{static/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{static/js/toastr.min.js}"></script>


    <link rel="stylesheet" th:href="@{static/css/toastr.css}"/>
    <link rel="stylesheet" th:href="@{static/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/bootstrap.min.css}"/>

</head>

<body>

<script type="text/javascript">
    toastr.options.positionClass = 'toast-top-center';
</script>
<!--
    作者：lixizheng
    时间：2020-07-02
    描述：注册窗口 v1.0
-->
<div id="register" class="modal fade"  tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-title">
                <h3 class="text-center">欢迎注册~</h3>
            </div>
            <div class="modal-body">
                <form class="form-group" id="right">
                    <div class="form-group">
                        <label>用户名</label>
                        <input class="form-control" name="userName" type="text" placeholder="用户名由3到16位字母或数字组成"
                               required="">
                    </div>
                    <div class="form-group">
                        <label>密码</label>
                        <input class="form-control" name="userPassword" type="password" placeholder="密码长度要大于6位，由数字和字母组成"
                               required="">
                    </div>
                    <div class="form-group">
                        <label>再次输入密码</label>
                        <input class="form-control" name="userPasswordNext" type="password"
                               placeholder="密码长度要大于6位，由数字和字母组成"
                               required="">
                    </div>
                    <div class="form-group">
                        <label>邮箱</label>
                        <input class="form-control" name="userMail" type="email" placeholder="例如:123@123.com"
                               required="">
                    </div>
                    <div class="form-group">
                        <label>手机号</label>
                        <input class="form-control" name="userPhone" type="text" placeholder="例如:187799xxxxx"
                               required="">
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" type="submit">提交</button>
                        <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                    <a href="" data-toggle="modal" data-dismiss="modal" data-target="#login">已有账号？点我登录</a>
                </form>
            </div>
        </div>
    </div>
</div>


<!--
    作者：lixizheng
    时间：2020-07-02
    描述：登录窗口 v1.1
-->
<div id="login" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" data-dismiss="modal">
                    <span>×</span>
                </button>
            </div>
            <div class="modal-title">
                <h3 class="text-center">欢迎登录~</h3>
            </div>
            <div class="modal-body">
                <form class="form-group" id="loginFrom">
                    <div class="form-group">
                        <label>用户名</label>
                        <input class="form-control" name="loginUserName" type="text" value="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>密码</label>
                        <input class="form-control" name="loginUserPassword" type="password" value="" placeholder="">
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" type="submit">登录</button>
                        <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                    <a href="" data-toggle="modal" data-dismiss="modal" data-target="#register">还没有账号？点我注册</a>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="img_div1">
    <div id="cg">
        <div>
            <a class="xm1_a jrsy" th:href="@{CastingWeb/index.html}">
                <img class="xm1" th:src="@{static/picture/xm1.png}"></a>
        </div>
        <a th:href="@{scoring-table.html}" target="_blank">
            <div id="jfan"></div>
            <div id="jfan2"></div>
        </a>
    </div>
    <div id="jfb">
        <div class="kh">
        </div>
        <div class="">
            <div style="overflow:hidden">
                <!--<img class="jftitle" th:src="static/picture/jfbtitle.png">
                     <img id="gb" th:src="static/picture/gb.png">-->
            </div>
            <div class="jfgd">
                <!--<img th:src="static/picture/jfb.png">-->
            </div>
        </div>
    </div>
    <div class="bt">
        <a th:href="introduce.html" target="_blank"><img class="bt1" th:src="@{static/picture/bt1.png}"></a>
        <a th:href="video.html" target="_blank"><img class="bt4" th:src="@{static/picture/bt101.png}"></a>
        <a th:href="introduce-viewer-pdf-property.html" target="_blank"><img class="bt3" th:src="@{static/picture/btn3.png}"></a>
    </div>
</div>
</body>

</html>


<script language="JavaScript" type="text/javascript">

    /*
    * 采用监听表单 submit事件 发起ajax请求
    */
    $(document).ready(function (message) {
            const cookie_value = $.cookie('isLogin');

            if (cookie_value == null) {
                $('#login').modal('show'); //显示模态框

                $("#loginFrom").submit(function (e) {
                    login();
                    // 阻止form表单默认提交
                    event.preventDefault();
                });

                $("#right").submit(function (e) {
                    register();
                    event.preventDefault();
                })
            }

            function register() {
                const userName = $("input[name='userName']").val();
                const userPassword = $("input[name='userPassword']").val();
                const userPhone = $("input[name='userPhone']").val();
                const userMail = $("input[name='userMail']").val();
                const userPasswordNext = $("input[name='userPasswordNext']").val();

                if (userPassword !== userPasswordNext) {
                    toastr.error('两次密码输入不一致！');
                } else if (userPassword === '' || userPasswordNext === ''
                    || userName === '' || userMail === ''
                    || userPhone === '') {
                    toastr.error('请填满表单！');
                } else if (checkUserName(userName)) {
                    toastr.error('用户名不符合规范！');
                } else if (checkUserPassword(userPassword)) {
                    toastr.error('用户密码不符合规范！');
                } else if (validateTel(userPhone)) {
                    toastr.error('手机号不符合规范！');
                } else {
                    $.ajax({
                        type: 'post',
                        async: false,
                        url: "/regist",
                        data: {
                            "userName": userName,
                            "userPassword": userPassword,
                            "userMail": userMail,
                            "userPhone": userPhone,
                        },
                        success: function (reslut) {
                            if (reslut !== "") {
                                if (reslut.msg === 'OK') {
                                    toastr.success('注册成功~');

                                    setTimeout(function () {
                                        window.location.href = "/index.html";
                                    }, 1000);
                                } else {
                                    toastr.error(reslut.msg);
                                }
                            }
                        }
                    });
                }
            }

            function login() {
                const loginUserName = $("input[name='loginUserName']").val();
                const loginUserPassword = $("input[name='loginUserPassword']").val();
                $.ajax({
                    type: 'post',
                    async: false,
                    url: "/login",

                    data: {
                        "userName": loginUserName,
                        "userPassword": loginUserPassword
                    },
                    success: function (reslut) {
                        if (reslut !== "") {
                            // window.location.href="/index.html";
                            // window.location.reload();
                            if (reslut.data.errorInfo == null) {
                                toastr.success('登录成功');

                                setTimeout(function () {
                                    window.location.href = "/index.html";
                                }, 1000);

                                // toastr.warning('只能选择一行进行编辑');
                                // toastr.info('info');
                                // bootbox.alert("奥里给", function () {
                                //     console.log(reslut)
                                // });
                            } else {
                                toastr.error(reslut.data.errorInfo);
                            }
                        } else {
                            toastr.error('登录失败');

                            setTimeout(function () {
                                window.location.href = "/index.html";
                            }, 1000);
                        }
                    }
                });
            }

            function checkUserName(username) {
                return !(/^[a-zA-Z0-9_-]{4,16}$/.test(username));
            }

            function checkUserPassword(s) {
                return !(/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,}$/.test(s));
            }

            function validateTel(tel) {
                return !(/^1[34578]\d{9}$/.test(tel));
            }
        }
    );


    /**
     * 采用绑定点击事件的提交方式
     */
    // $(document).ready(function () {
    //     const cookie_value = $.cookie('isLogin');
    //
    //     if (cookie_value == null) {
    //         $('#login').modal('show'); //显示模态框
    //
    //         $("#loginBut").click(function () {
    //             const loginUserName = $("input[name='loginUserName']").val();
    //             const loginUserPassword = $("input[name='loginUserPassword']").val();
    //             $.ajax({
    //                 type: 'post',
    //                 async: false,
    //                 url: "/login",
    //                 data: {
    //                     "userName": loginUserName,
    //                     "userPassword": loginUserPassword
    //                 },
    //                 success: function (reslut) {
    //                     if (reslut !== "") {
    //                         // window.location.href="/index.html";
    //                         // window.location.reload();
    //
    //                         if (reslut.data.errorInfo == null) {
    //                             toastr.success('登录成功');
    //
    //                             setTimeout(function () {
    //                                 window.location.href = "/index.html";
    //                             }, 1000);
    //
    //                             // toastr.warning('只能选择一行进行编辑');
    //                             // toastr.info('info');
    //                             // bootbox.alert("奥里给", function () {
    //                             //     console.log(reslut)
    //                             // });
    //                         } else {
    //                             toastr.error(reslut.data.errorInfo);
    //                         }
    //                     } else {
    //                         toastr.error('登录失败');
    //
    //                         setTimeout(function () {
    //                             window.location.href = "/index.html";
    //                         }, 1000);
    //                     }
    //                 }
    //             });
    //         });
    //
    //         function checkUserName(username) {
    //             return !(/^[a-zA-Z0-9_-]{4,16}$/.test(username));
    //         }
    //
    //         function checkUserPassword(s) {
    //             return !(/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,}$/.test(s));
    //         }
    //
    //         function validateTel(tel) {
    //             return !(/^1[34578]\d{9}$/.test(tel));
    //         }
    //
    //         $("#right").click(function () {
    //             const userName = $("input[name='userName']").val();
    //             const userPassword = $("input[name='userPassword']").val();
    //             const userPhone = $("input[name='userPhone']").val();
    //             const userMail = $("input[name='userMail']").val();
    //             const userPasswordNext = $("input[name='userPasswordNext']").val();
    //
    //             if (userPassword !== userPasswordNext) {
    //                 toastr.error('两次密码输入不一致！');
    //             } else if (userPassword === '' || userPasswordNext === ''
    //                 || userName === '' || userMail === ''
    //                 || userPhone === '') {
    //                 toastr.error('请填满表单！');
    //             } else if (checkUserName(userName)) {
    //                 toastr.error('用户名不符合规范！');
    //             } else if (checkUserPassword(userPassword)) {
    //                 toastr.error('用户密码不符合规范！');
    //             } else if (validateTel(userPhone)) {
    //                 toastr.error('手机号不符合规范！');
    //             } else {
    //                 $.ajax({
    //                     type: 'post',
    //                     async: false,
    //                     url: "/regist",
    //                     data: {
    //                         "userName": userName,
    //                         "userPassword": userPassword,
    //                         "userMail": userMail,
    //                         "userPhone": userPhone,
    //                     },
    //                     success: function (reslut) {
    //                         if (reslut !== "") {
    //                             if (reslut.msg === 'OK') {
    //                                 toastr.success('注册');
    //
    //                                 setTimeout(function () {
    //                                     window.location.href = "/index.html";
    //                                 }, 1000);
    //                             } else {
    //                                 toastr.error(reslut.msg);
    //                             }
    //                         }
    //                     }
    //                 });
    //             }
    //         })
    //     }
    // });

</script>