<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

	<head>
		<meta charset="utf-8">
		<title>中药新药研究虚拟综合性实验</title>
		<link rel="stylesheet" href="static/css/common.css">
	</head>
	<style type="text/css">
		a {
			color: #000;
			text-decoration: underline;
		}
		
		a:hover {
			color: #558ed5;
		}
		
		.pagenav {
			font-size: 20px;
		}
	</style>

	<body>
		<div id="topfixed" style="width:100%; margin-bottom:30px; background:url(static/image/sbtopfill.png);" align="center">
			<img style="width:1024px; margin:0 auto;" src="static/picture/sblogo.png">
		</div>

		<div id="content" class="bt4" style="width:800px; margin:0 auto; border:1px solid #464444; ">
			<div id="news" style="width:700px; margin:0 auto; padding-bottom:30px;">
				<div class="title" align="center" style="padding-top:40px; padding-bottom:30px; font-size:26px; font-weight:bold;">相关知识链接</div>
				<div class="pagenav">
					<div style="margin:0 auto;">
						<p align="left" style="text-indent:2em">1、
							<a target="_blank" href="javascript:;">药品标准在线查询  </a>
						</p><br>
						<p align="left" style="text-indent:2em">2、
							<a target="_blank" href="javascript:;">中华人民共和国药品管理法实施条例  </a>
						</p><br>
						<p align="left" style="text-indent:2em">3、
							<a target="_blank" href="javascript:;">CFDA药品管理相关法律法规   </a>
						</p><br>
						<p align="left" style="text-indent:2em">4、
							<a target="_blank" href="javascript:;">在线药典</a>
						</p><br>
					</div>
				</div>
			</div>
		</div>
		<div style="height:20px;"></div>
		<!--<script type="text/javascript" src="static/js/19374271.js"></script>-->
	</body>

</html>