<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

	<head>
		<meta charset="utf-8">
		<title>中药新药研究虚拟综合性实验</title>
		<link rel="stylesheet" href="static/css/common.css">
	</head>

	<body>
		<div id="topfixed" style="width:100%; margin-bottom:30px; background:url(static/image/sbtopfill.png);" align="center">
			<img style="width:1024px; margin:0 auto;" src="static/picture/sblogo.png">
		</div>

		<div id="content" style="width:800px; margin:0 auto; border:1px solid #464444; ">
			<div id="news" style="width:700px; margin:0 auto; padding-bottom:30px;">
				<div class="title" align="center" style="padding-top:40px; padding-bottom:30px; font-size:18px; font-weight:bold;">实验结果评价</div>
				<div class="mkpic_div">
					<div style="margin:0 auto;">
						<p>本实验需要各位同学通过账号，登陆虚拟仿真平台，查看成绩和评价。成绩评价按模块产生，成绩示意如下：</p>
						<p align="left" class="mkp">模块一：</p>
						<p>
							<img src="static/picture/mk3.png">
						</p>
						<p align="left" class="mkp">模块二：</p>
						<p>
							<img src="static/picture/mk2.png">
						</p>
						<p align="left" class="mkp">模块三：</p>
						<p>
							<img src="static/picture/mk1.JPG">
						</p>
						<p align="left" class="mkp">模块四：</p>
						<p>
							<img src="static/picture/mk4.png">
						</p>
					</div>
				</div>
			</div>
		</div>
		<div style="height:20px;"></div>
		<!--<script type="text/javascript" src="static/js/19374271.js"></script>-->
	</body>

</html>